<% content_for :jumbotron do %>
  <header>
    <h1>Otto's Appliance Service Inc.</h1>
    <h2>About Us</h2>
  </header>
<% end %>

<main>
  <section class="photos">
    <figure>
      <%= image_tag 'old-storefront.jpeg', alt: "Otto's Appliance - Old Storefront" %>
    </figure>
    <figure>
      <%= image_tag 'newspaper.jpeg', alt: "Otto's Appliance - All In The Family" %>
    </figure>
  </section>

  <p class="lead text-center">
    Otto's Appliance Service, Inc. was founded by Otto Fusaro in 1957. Otto started this business with a love for repair and helping people. Otto's warm personality and prompt, efficient service built this buisiness into what it is today. Gradually, all three of his sons joined him to truly form a family business.
  </p>

  <section class="photos">
    <figure>
      <%= image_tag 'uncle-otto.jpeg', alt: "Otto's Appliance - Otto Jr." %>
    </figure>
    <figure>
      <%= image_tag 'uncleT-and-Dad.jpeg', alt: "Otto's Appliance - Angelo and Tony" %>
    </figure>
  </section>

  <p class="lead text-center">
    Otto's is unique in that we has been servicing Thermador for over 65 years. We also service Bosch and Insinkerator. Each of our technicians has over 30 years of experience. Our experience and dependability is what separates us from many other companies.
  </p>

  <section class="photos">
    <figure>
      <%= image_tag 'nanu-84.jpeg', alt: "Otto's Appliance - Otto Jr., Otto Sr., Angelo, and Tony" %>
    </figure>
    <figure>
      <%= image_tag 'nanu-collage.jpeg', alt: "Otto's Appliance - Otto Sr." %>
    </figure>
  </section>

  <p class="lead text-center">
    We at Otto's try hard to minimize our customer's downtime. We schedule our appointments within two hours and routinely call customers at work up to 30 minutes ahead. What makes us most proud is our reputation for being fair, honest, reliable, and our long list of loyal customers. Our goal is and always has been to satisfy our customers.
  </p>
  <br />
  <section>
    <a name="reviews">
      <h2 class="text-center">Reviews</h2>
    </a>
    <div class="reviews">
      <span class="yelp-review" data-review-id="ISdecD11Hlgs9rX5-F1RLQ" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=i7C2uQeeIYkbehUEfwpkIw" rel="nofollow noopener">William S.</a>'s <a href="https://www.yelp.com/biz/ottos-appliance-service-millbrae?hrid=ISdecD11Hlgs9rX5-F1RLQ" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/vCPm6UsSiR4k5T6S-wzRhw" rel="nofollow noopener">Otto's Appliance Service</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a><script async="async" src="https://www.yelp.com/embed/widgets.js" type="text/javascript"></script></span>
      <br />
      <span class="yelp-review" data-review-id="-sORTBBva0wDGXXMYLAv4A" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=TVVhN_MV6ShoToC6nfeukw" rel="nofollow noopener">Julie B.</a>'s <a href="https://www.yelp.com/biz/ottos-appliance-service-millbrae?hrid=-sORTBBva0wDGXXMYLAv4A" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/vCPm6UsSiR4k5T6S-wzRhw" rel="nofollow noopener">Otto's Appliance Service</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a><script async="async" src="https://www.yelp.com/embed/widgets.js" type="text/javascript"></script></span>
      <br />
      <span class="yelp-review" data-review-id="t7Yxa7leqYz2I6rbBYy2aw" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=iS7GgtMtk9uEN7dubb57vg" rel="nofollow noopener">Tina P.</a>'s <a href="https://www.yelp.com/biz/ottos-appliance-service-millbrae?hrid=t7Yxa7leqYz2I6rbBYy2aw" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/vCPm6UsSiR4k5T6S-wzRhw" rel="nofollow noopener">Otto's Appliance Service</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a><script async="async" src="https://www.yelp.com/embed/widgets.js" type="text/javascript"></script></span>
      <br />
      <span class="yelp-review" data-review-id="8wlhVi7hvu5Q2IguxMEEjg" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=6TPJLqVy4gMvekxd39nVfQ" rel="nofollow noopener">Joe C.</a>'s <a href="https://www.yelp.com/biz/ottos-appliance-service-millbrae?hrid=8wlhVi7hvu5Q2IguxMEEjg" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/vCPm6UsSiR4k5T6S-wzRhw" rel="nofollow noopener">Otto's Appliance Service</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a><script async="async" src="https://www.yelp.com/embed/widgets.js" type="text/javascript"></script></span>
      <br />
      <span class="yelp-review" data-review-id="XW3O03GVJMS0L4urc1D7Jw" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=l3dNh245EN7xoKjAijy5Kg" rel="nofollow noopener">Fred H.</a>'s <a href="https://www.yelp.com/biz/ottos-appliance-service-millbrae?hrid=XW3O03GVJMS0L4urc1D7Jw" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/vCPm6UsSiR4k5T6S-wzRhw" rel="nofollow noopener">Otto's Appliance Service</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a><script async="async" src="https://www.yelp.com/embed/widgets.js" type="text/javascript"></script></span>
      <br />
      <span class="yelp-review" data-review-id="7lOR5mev9NXrKCM-hYcchQ" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=Vn4Qn1v3MGB_TpA2YQbN6g" rel="nofollow noopener">Akiko I.</a>'s <a href="https://www.yelp.com/biz/ottos-appliance-service-millbrae?hrid=7lOR5mev9NXrKCM-hYcchQ" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/vCPm6UsSiR4k5T6S-wzRhw" rel="nofollow noopener">Otto's Appliance Service</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a><script async="async" src="https://www.yelp.com/embed/widgets.js" type="text/javascript"></script></span>
      <br />
      <span class="yelp-review" data-review-id="3y8kBNcoW166wsaKVXszJw" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=IM0SsXN7WPROeEtnrDzKAQ" rel="nofollow noopener">Aaron K.</a>'s <a href="https://www.yelp.com/biz/ottos-appliance-service-millbrae?hrid=3y8kBNcoW166wsaKVXszJw" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/vCPm6UsSiR4k5T6S-wzRhw" rel="nofollow noopener">Otto's Appliance Service</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a><script async="async" src="https://www.yelp.com/embed/widgets.js" type="text/javascript"></script></span>
      <br />
      <span class="yelp-review" data-review-id="wd-GBJ-AWPXUeJSlYiByZA" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=_b6V-ix78856U5_tnihJFw" rel="nofollow noopener">Cheryl C.</a>'s <a href="https://www.yelp.com/biz/ottos-appliance-service-millbrae?hrid=wd-GBJ-AWPXUeJSlYiByZA" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/vCPm6UsSiR4k5T6S-wzRhw" rel="nofollow noopener">Otto's Appliance Service</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a><script async="async" src="https://www.yelp.com/embed/widgets.js" type="text/javascript"></script></span>
    </div>
  </section>
  <br />
</main>
